{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}
<!--. Estamos importanto el formulario generado en forms.py que a su vez, esta tomando el form generado en el models  -->
<div class="container">
  <br>
  <form action="{% url 'nuevo_servicio' %}" method="POST">{% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-success" value="Guardar">
  </form>


</div>
{% endblock %}