:root {
	--main-color: #3498db; /* Azul brillante */
	--dark-color: #2c3e50; /* Gris oscuro */
	--light-color: #ecf0f1; /* Gris claro */
	--contrast-color: #e74c3c; /* Rojo coral */
	--differential-color: #27ae60; /* Verde esmeralda */
}
