<!-- Con eso traigo toda la base de codigo de la base html -->
{% extends "base.html" %}
{% load static %}


<!-- Para sinalizar en que "bloco"(especie contenedor) de codigo queremos ingresar nuestra logica -->
<!--. Si el nombre del dashboard fue puesto con 'comillas simples' aca tambien lo necesitamos con 'comillas simples'  -->
{% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container">
  <div class="row">
    <div class="col-md card-dashboard rounded" onclick="mostrar_form('1')">
      <p class="text-card">Agregar clientes</p>
    </div>
    <div class="col-md card-dashboard rounded" onclick="mostrar_form('2')">
      <p class="text-card">Actualizar clientes</p>
    </div>
  </div>
  <div id="agregar-cliente">
    <div class="d-flex container">
      <form action="{% url 'clientes' %}" class="row" method="POST"> {% csrf_token %}
        <div class="row w-100">
          <p class="pt-3">Nombre:</p>
          <!--. El atributo value sirve para mantener la informacion del input, cuando la pagina actualiza pero alguna validacion no es satisfactoria, asi no perdemos las informaciones de los inputs que si tienen informaciones correctas  -->
          <input type="text" class="form-control" placeholder="Nombre cliente" name="nombre" value='{{nombre}}'>
          <p class="pt-3">Apellido:</p>
          <input type="text" class="form-control" placeholder="Apellido cliente" name="apellido" value='{{apellido}}'>
        </div>
        <br>
        <div class="row w-100">
          <p class="pt-3">E-mail:</p>
          <input type="email" class="form-control" placeholder="nombre@email.com" name="email" value='{{email}}'>
          <br>
          <p class="pt-3">DNI:</p>
          <input type="number" class="form-control" placeholder="__.___.___" name="dni" value='{{dni}}'>
        </div>
        <hr style="background-color:gray;">
        <div class="add-autos">
          <h3 class="pt-4 col-md">Vehículos</h3>
          <span class="btn-add-autos btn" onclick="add_auto()"> + Agregar vehículo 🚗🏍️</span>
          <div id="form-auto">
            {% for auto, patente in autos %}
            <div class="row">
              <div class="col-md">
                <input type='text' name='auto' placeholder='Modelo' class='form-control rounded' value="{{auto}}">
              </div>
              <div class="col-md">
                <input type='text' name='patente' placeholder='Patente' class='form-control rounded my-2'
                  value="{{patente}}">
              </div>
              <button id='btn-eliminar' class='btn btn-danger mx-auto py-4'>Eliminar</button>
            </div>
            {% endfor %}
            <br>
          </div>
          <br>
          <input type="submit" value="Registrar" class="btn-principal btn" name="submit">
        </div>
      </form>
    </div>
  </div>
</div>

<!--! ACTUALIZAR CLIENTE  -->

<div id="actualizar-cliente">
  <p class="pt-3 px-1 mx-auto w-50">Seleccione cliente:</p>
  <select name="" id="cliente-select" class="form-control w-50 mx-auto" onchange="datos_cliente()">
    {% for cliente in clientes %}
    <option value="{{cliente.id}}">{{cliente.nombre}}</option>
    {% endfor %}
  </select>
  <hr>
  <br>
  <div class="info_cliente">
    <input type="hidden" id="id">
    <div class="d-flex">
      <div class="column mx-auto container">
        <p>Nombre:</p>
        <input type="text" class="form-control" id="nombre" name="nombre">
        <p class="pt-2">Apellido:</p>
        <input type="text" class="form-control" id="apellido" name="apellido">
        <p class="pt-2">Email:</p>
        <input type="text" class="form-control" id="email" name="email">
        <p class="pt-2">DNI:</p>
        <input type="text" class="form-control" id="dni" name="dni">
        <input type="submit" value="Guardar" class="btn btn-success mt-4" onclick="update_cliente()">
        <hr>
        <h3>Autos</h3>
        <div id="autos">

        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'clientes/js/clientes.js' %}"></script>
{% endblock %}